name: Deploy to Surge

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Surge
        run: npm install surge -g

      - name: Deploy to surge
        run: surge . ${{ vars.SURGE_DOMAIN }} --token ${{ secrets.SURGE_TOKEN }}
