name: Deploy to Surge

on:
  push:
    branches:
      - main
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    environments: ${{github.ref_name == main && production || development }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Surge
        run: npm install surge -g

      - name: Deploy to surge
        env:
          SURGE_DOMAIN: ${{vars.SURGE_DOMAIN}}
          SURGE_DOMAIN_PREFIX: ${{vars.SURGE_DOMAIN_PREFIX}}
          BUILD_DIR: ${{vars.BUILD_DIR}}
          SURGE_TOKEN: ${{secrets.SURGE_TOKEN}}
        run: surge ${{BUILD_DIR}} ${{SURGE_DOMAIN_PREFIX}}-${{ SURGE_DOMAIN }} --token ${{ SURGE_TOKEN }}
